# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Output and Test Files
src/dinodeck
src/dinodeck.exe
src/restore.sh
src/static_test.sh
src/test.sh